* {
  --headerFontSize: 1.5rem;   
  --headerPadding: 0.6rem; 
  --footerFontSize: 1rem;
  --footerPadding: 0.5rem;
}

/* ? Light Theme */
.AppLight {
  text-align: center;
  justify-content: center;
  color:  #282c34;
  transition: all 0.5s ease-in-out;
}
.headerLight {
  background-color: lightseagreen;
  font-size: var(--headerFontSize);
  padding: var(--headerPadding);
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.mainLight {
  background-color: white;
  font-size: 1.5rem;
  text-align: center;
  height: calc(
      100vh 
      - var(--headerFontSize) 
      - (2.75 * var(--headerPadding))
      - var(--footerFontSize) 
      - (2.75 * var(--footerPadding))
  );
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  transition: all 0.5s ease-in-out;
}

.footerLight {
  background-color: lightseagreen;
  font-size: var(--footerFontSize);
  padding: var(--footerPadding);
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.buttonLight{
  background-color: #4CAF50;
  border: none;
  color: white;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: all 0.5s ease-in-out;
}

/* ! Dark Theme */
.AppDark {
  text-align: center;
  justify-content: center;
  color: white;
  transition: all 0.5s ease-in-out;
}
.headerDark {
  background-color: dodgerblue;
  font-size: var(--headerFontSize);
  padding: var(--headerPadding);
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.mainDark {
  background-color: #282c34;
  font-size: 1.5rem;
  text-align: center;
  height: calc(
      100vh 
      - var(--headerFontSize) 
      - (2.75 * var(--headerPadding))
      - var(--footerFontSize) 
      - (2.75 * var(--footerPadding))
  );
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  transition: all 0.5s ease-in-out;
}

.footerDark {
  background-color: dodgerblue;
  font-size: var(--footerFontSize);
  padding: var(--footerPadding);
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.buttonDark {
  background-color: #36ee3c;
  border: none;
  border-radius: 4px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: all 0.5s ease-in-out;
}
@media only screen and (max-width: 600px) {
  .mainDark, .mainLight {
    display: block;
  }
}